@media(max-height: 645px){
.theme-settings{
  top: 52%;
}
.nav-links{
  position: relative
}
}



@media (min-width:481px) and (max-width: 760px){
  
 .main-bio {
    flex-direction: column;
  }
  .main-bio .col-1{
    width: 100%;
 
  }
  .main-bio .col-2{
    width: 100%;
    margin: 20px;
    margin-left: 0;
  } 
  .porfolios .portfolio-cover .portfolio-box{
    width: 47%;
    margin:10px 10px;
  }
  /*
  
   .timeline-row section {
     padding: 15px; 
    }
   .timeline-cover .timeline-line {
    display: none;
  }

  .timeline-icon {
    display: none;
  }

  .timeline-row section {
    width: 100%;
  }

  .timeline-row1 {
    justify-content: flex-start;
  }

  .timeline-row2 {
    justify-content: flex-start;
  }

  .timeline-cover .timeline-row1 .timeline-time {
    text-align: left
  }

  .timeline-cover .timeline-row1 .timeline-title {
    text-align: left
  }

  .timeline-cover .timeline-row1 .timeline-place {
    text-align: left
  }

  .timeline-cover .timeline-row1 .timeline-description {
    text-align:left
  }

  .timeline-cover .timeline-row2 .timeline-time,
  .timeline-title,
  .timeline-place,
  .timeline-description {
    text-align: left
  }
  .timeline-row{
    
    margin: 0 auto;
    margin-top: 20px;
  }
  .timeline-cover{
    padding: 10px 5px
  }
 
 */
 .timeline-cover{
     padding: 20px 0px;

 } 
  
  
}
