@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
:root{
  --daynamic-font: 'Raleway',sans-serif;
}
.ubuntu{
  --daynamic-font:'Ubuntu',sans-serif;
}
.roboto-flex{
  --daynamic-font:'Roboto Flex',sans-serif;
}
.poppins{
  --daynamic-font:'Poppins',sans-serif;
}
