@media(max-width:480px){
 header nav{
   height: 70px;
   padding:0 10px;
 }
 .nav-links button{
   top: 10px;
   right: 10px;
 }
 .container-home{
   flex-wrap: wrap;
 }
 .row1{
   order:1;
 }
.row2{
  width: 100%;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .row2 img{
   width: 250px;
   height: 250px;
 }
 .row2 .img-cover{
   width: 265px;
   height: 265px;
   
 }
 .theme-settings{
   right: -20px;
   top: 20%;
 }
 .row2 .img-loader{
   width: 250px;
   height: 250px;
 }
 .row2 .img-loader
 .loader{
   width: 40px;
   height: 40px;
   left: 42%;
   top: 42%;
 }
 .main-bio {
   flex-direction: column;
 }
 .main-bio .col-1{
   width: 100%;

 }
 .main-bio .col-2{
   width: 100%;
   margin: 20px;
   margin-left: 0;
 }
 
 
 
 
 
 
 
 
 /* ======= More CSS ====== */
 .pad-10-35{
   padding: 10px 20px;
 }
 .abstract-circle{
  width: 120px;
  height: 50px;
  top: 0px;
  left: 80%;
  transform: translate(-50%,-5px);
  animation:left-right 5s linear infinite alternate;
}
.abstract-dots{
  width: 70px;
  height: 120px;
  top: 55%;
  left: 15%;
  animation:up-down 5s linear infinite alternate;
}
.abstract-arrow{
  top: 20%;
  left: 20%;
}
@keyframes left-right{
  from{
    left:70%;
  }
  to{
    left:40%;
  }
}
@keyframes up-down{
  from{
    top: 55%;
  }
  to{
    top: 50%;
  }
}

}
