/*  Copyright © 2022 Afaeid Sarker. All rights reserved by Afaeid Sarker  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media(prefers-reduced-motion:no-preference){
  :root{
    scroll-behavior: smooth;
  }
}
html{
  scroll-behavior: smoth;
  background: var(--bg-color);
}
a{
  text-decoration: none;
  cursor: pointer;
}
button,input{
  outline: none;
  border: none;
  background: var(--bg-color);
}
body{
  background: var(--bg-color);
}
.main-container{
  max-width: 1200px;
  min-height: 100vh;
  background: var(--bg-color);
  position: relative;
  /* padding: 10px 20px; */
}
header{
  width: 100%;
  min-height: 100px;
}
header nav{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
}
header nav .logo a{
  font-size: 25px;
  padding: 10px 12px;
  border-radius: 50%;
  border: 2px solid #F48FB1;
  font-family:var(--dynamic-font);
  color: var(--style-font-color2);
  text-decoration: none;
  font-weight:700;
}
nav button{
  padding: 9px 10px;
  border-radius: 50%;
  background: transparent;
  background: var(--bg-color);
 /* box-shadow: 1px 1.5px 1px 0px #D1D1D1,
              -1px -2px 1px 0px #fff;*/
  z-index: 120;            
}
nav .menu-close-btn{
  display: none;
}
.nav-links{
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 101; 
}
.nav-links button{
  position: absolute;
  top: 0px;
  right:35px;
  padding: 5px 7px;
  border-radius:50%;
  background: var(--bg-color);
}
.nav-links li{
  list-style: none;
  margin: 35px 0;
  text-align: center;
  font-size: 18px;
}
.nav-links li a{
  color: var(--style-font-color1);
  font-weight: bold;
  font-family:var(--dynamic-font);
  padding: 8px 22px;
  border-radius: 20px;
}
.nav-links li a:hover{
  color:var(--style-font-color2);
}
.container-home{
  width: 100%;
  min-height: 95vh;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:10;
  position: relative;
}
.home{
  width: 100%;
  
}
.row2{
  order:1;
  position: relative;
}
.row1 div,button{
  margin: 10px 0;
    z-index: 100;
  color: var(--black-color);
}
.row1 .hello{
  font-weight: 250;
  font-family:var(--dynamic-font);
}
.row1 .name{
  font-family: var(--dynamic-font);
  font-weight: bolder;
  font-size: 30px;
}
.row1 .proffession{
  font-family: var(--dynamic-font);
  font-weight:400;
  font-size: 14px;
  font-weight: 500;
}
.row1 .more-btn button{
  padding: 10px 15px;
  border-radius: 20px;
  color: var(--style-font-color2);
  background: var(--bg-color);
  font-family: var(--dynamic-font);
  font-weight: 500;
}
.row2 .profile-img{
 /* width: 350px;
  height:350px;*/
  border-radius: 50%;
  pointer-events: none;
  box-shadow: var(--inner-shadow);
  padding: 5px;
  z-index: -1;
}
.row2 .img-cover{
  width: 380px;
  height: 380px;
  position: relative;
  border-radius: 50%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  box-shadow: var(--outer-shadow);
}
.theme-settings{
  min-width: 10px;
  height: 150px;
  position: fixed;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 110;
  right:0;
  top: 25%;
  transform: translate(-50%,-50%);
}
.theme-settings .settings{
  display: flex;
  flex-direction: column;
}

.theme-icon{
  border-radius: 50%;
  background: var(--bg-color);
  padding:8px 10px;
}
 .row2 .img-loader{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: var(--loading-color);
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
} 
.row2 .img-loader
.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #283AFF;
  border-bottom-color:var(--loading-color);
  left: 40%;
  top: 40%;
  position: absolute;
  /* transform: translate(-50%,-50%); */
  animation: spin 1s linear infinite;
}
.theme-icon .sun-icon{
  display: none;
}
.about{
  width: 100%;
  min-height: 100vh;
  display: none;
}
.conatiner-about{
  width: 100%;
  min-height:200px;
}

.main-title,.semi-title
{
 text-align: center; 
}

.main-title{
  line-height: 20px;
  color: var(--style-font-color2);
  font-family: var(--dynamic-font);
  font-weight: 600;
}
.semi-title{
  line-height: 45px;
  font-size: 30px;
  color: var(--style-font-color1);
  font-family: var(--dynamic-font);
  font-weight: 700;
}
.about .conatiner-about .main-bio{
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
  /* margin: 50px 0; */
}
.main-bio .col-1{
  width: 35%;
  /*background: red;*/
  position: relative;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  /* justify-content: center;*/
   flex-direction: column;
}
.profile-img2{
  /*width: 260px;
  height: 265px;*/
  box-shadow: var(--inner-shadow);
  padding: 1px;
  border-radius: 2px;
  padding: 8px;
  pointer-events: none;
}
.main-bio .col-1 .img-cover{
  width: 280px;
  height: 285px;
  box-shadow: var(--outer-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--bg-color);

  
}
.main-bio .col-1 .social-links{
  width: 100%;
  height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links button{
  transition: transform 0.4s;
}
.social-links button svg{
  pointer-events: none;
}
.social-links button:hover{ 
  transform: scale(1.2);
}
.main-bio .col-1 button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background: var(--bg-color);
  z-index:90;
}
.main-bio .col-1 button svg{
  width: 18px;
  height: 18px;
  fill:var(--style-font-color1)
}
.main-bio .col-2{
  width: 60%;
  color: var(--semi-white-color);
  font-family: var(--dynamic-font);
  font-weight: 400;
  font-size: 15px;
}
.main-bio .col-2 span{
  color: var(--style-font-color2);
  font-weight: 600;
  font-size: 15px;
}
.main-bio .col-2 span,p{
  margin: 10px 0;
}
.col-2 .bio-button button{
  margin: 10px 10px 10px 0 ;
  padding: 10px 15px;
  background: var(--bg-color);
  outline: none;
  border:none;
  border-radius: 20px;
  font-family: var(--dynamic-font);
  color: var(--style-font-color2);
  font-size: 15px;
  font-weight: 500;;
}
.progressbar-and-timeline{
  width: 100%;
  min-height: 500px;
  background: var(--bg-color);
  font-family: var(--dynamic-font);
  transition: margin-top 0.4s
}
/*.progressbar-and-timeline*/
.item-titles{
  width: 100%;
  height: 50px;
  text-align: center;
  overflow-y: auto;
  white-space: nowrap;
  padding: 15px;
  margin: 10px 0;
  background: var(--bg-color);
  transition:0.4s cubic-bezier(0.23, 1, 0.320, 1) ;
  transition-property: position, width, height, padding, margin
  
}
/*.progressbar-and-timeline */
.item-titles a{
  margin: 0px 2px;
  color: var(--style-font-color1);
  padding: 8px 10px;
  border-radius: 20px;
  font-weight: 500;
  transition: box-shadow 0.5s;
  font-family: var(--dynamic-font)
}
/*.progressbar-and-timeline*/
.item-titles a:nth-child(1){
  box-shadow: var(--outer-shadow);
  color: var(--style-font-color2);
}
.progressbar-and-timeline .changeable-section{
  width: 100%;
  min-height: 500px;
  background: var(--bg-color);
  margin-top:25px;
}
.progressbar-and-timeline .changeable-section .progressbars{
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box{
  width: calc(50% - 40px);
  height: 100px;
  position: relative;
  padding: 0 10px;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-name{
  color: var(--style-font-color1);
  font-weight: 400;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-indicator-numeric{
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  color: var(--style-font-color1);
  font-weight: 400;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-indicator {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  box-shadow: var(--inner-shadow);
  margin: 20px 0;
  padding: 0 8px;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-indicator span{
  width: 100%;
  border-radius: 5px;
  height: 10px;
  background: var(--style-font-color1);
  display: inline-block
}












.timeline-cover{
  max-width: 1080px;
  margin: 0px 0px; 
  padding: 20px 40px;
  position: relative;
 background: var(--bg-color);
}

.timeline-cover .timeline-line{
  width: 1px;
  height: calc(100% - 20px);
  background: #CBCBCB;
  left: 50%;
  background: #BABABA;
  transform: translateX(-50%);
  position: absolute;
}
.timeline-row{
  display: flex;
  position: relative;
}
.timeline-row1{
  justify-content: flex-start;
}
.timeline-row2{
  justify-content: flex-end;
}
.timeline-row section{
  background:var(--bg-color);
  width:calc(50% - 40px);
  min-height: 220px;
  border-radius: 5px;
  box-shadow: var(--outer-shadow);
  padding: 30px;
  position: relative;
  z-index: 10;
  
}/*
.row1 section::before{
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  background: var(--bg-color);
  border: 1px solid #BABABA;
  right: 0;
  transform: rotate(45deg);
  z-index:-1;
}*/
.timeline-icon{
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  padding: 10px 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--bg-color);/*
  box-shadow: var(--outer-shadow)*/
  border: 1px solid #BABABA;
  z-index: 90;
}
.timeline-cover .timeline-row .timeline-time{
  color: var(--style-font-color2);
  font-family:var(--dynamic-font);
  font-weight: 500;
}
.timeline-cover .timeline-row1 .timeline-time{
  text-align: right
}
.timeline-cover .timeline-row1 .timeline-title{
  text-align: right
}
.timeline-cover .timeline-row1 .timeline-place{
  text-align: right
}
.timeline-cover .timeline-row1 .timeline-description{
  text-align: right
}
.timeline-cover .timeline-row2 .timeline-time, .timeline-title,
.timeline-place, .timeline-description{
  text-align: left
}
.timeline-cover .timeline-row 
.timeline-title{
  /* line-height: 50px; */
  font-size: 20px;
  font-weight: 600;
  font-family: var(--dynamic-font);
  color: var(--style-font-color1);
  /* margin-left: 3px; */
  margin: 10px 0;
}
.timeline-cover .timeline-row
.timeline-place{
  font-family: var(--dynamic-font);
  font-style: italic;
  color: #9E9E9E;
  font-size: 15px;
}
.timeline-cover .timeline-row .timeline-description{
  margin-top: 20px;
  font-size: 15px;
  color: #9E9E9E;
  font-family: var(--dynamic-font);
  font-size: 16px;
}
.timeline-cover svg{
  fill:var(--style-font-color2);
  width: 18px;
  height: 18px;
}
.about .changeable-section2, .changeable-section3, .changeable-section4{
  display: none;
}
.service{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.container-service{
  width: 100%;
  min-height: 200px;
}
.services-cover{
  width: 100%;
  min-height: 500px;
}
.services-cover .services{
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--dynamic-font)
}
.services-cover .services .service-box{
  box-shadow: var(--outer-shadow);
  width: 30%;
  min-height: 200px;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
  transition: transform 0.4s;
}
.services-cover .services .service-box:hover{
  transform: scale(1.1)
}
.services-cover .services .service-box .service-logo{
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-cover .services .service-box .service-logo button {
  width: 50px;
  height: 50px;
  padding: 8px 10px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  box-shadow: var(--inner-shadow);
  border-radius: 50%;
  z-index: 90
}
.services-cover .services .service-box .service-logo button svg{
  width: 20px;
  height: 20px;
  transition: transform 0.4s;
  fill:var(--style-font-color1)
  
}
.services-cover .services .service-box .service-logo button:hover svg{
  transform: scale(1.5);
  fill: var(--style-font-color2);
}
.services-cover .services .service-box .service-logo button:hover{
  box-shadow: var(--outer-shadow)
}
.services-cover .services .service-box .service-name{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--style-font-color1);
  font-weight: 700;
  font-size: 20px;
}
.services-cover .services .service-box .service-description{
  width: 100%;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: var(--semi-white-color);
  margin-top: 10px;
}
.portfolio{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.container-portfolio{
  width: 100%;
  min-height: 950px;
}
.portfolios{
  width: 100%;
  min-height: 200px;
  padding: 30px 0 20px 0;
}
.portfolios .portfolio-cover{
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding-top: 20px; */
}
.portfolios .portfolio-cover .portfolio-box{
  width: 30%;
  min-height:200px;
  box-shadow: var(--outer-shadow);
  position: relative;
  padding: 15px;
  margin: 10px;
  transition: transform 0.4s;
  border-radius:5px;
}
.portfolios .portfolio-cover .portfolio-box:hover {
 transform: scale(1.1);
}
.portfolios .portfolio-cover .portfolio-box .portfolio-img{
/*  width: 100%;
  height: 180px;*/
  left: 20px;
  border-radius: 3px;
}
.portfolios .portfolio-cover .portfolio-box .portfolio-name{
  width: 100%;
  height: 20px;
  font-family: var(--dynamic-font);
  padding: 5px;
  font-weight: 600;
  color: var(--style-font-color1);
}
.contact{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items:center;
  justify-content:center;
  display: none;
}
.container-contact{
  width: 100%;
  min-height: 500px;
  
}
.contacts{
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 35px 0;
}
.contact-box{
  width: 30%;
  min-height: 150px;
  box-shadow: var(--outer-shadow);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius:5px;
  transition: transform 0.4s
}
.contact-box:hover{
  transform: scale(1.1)
}
.contact-box .contact-icon svg{
   width:25px;
   height:25px;
   fill: var(--style-font-color2);
}
.contact-box .contact-name{
  color: var(--style-font-color1);
  font-weight: 600;
  font-family: var(--dynamic-font);
}
.contact-box .contact-address{
  color: var(--black-color);
  font-weight: 400;
  font-family: var(--dynamic-font);
}
.mail-sender{
  width: 100%;
  min-height: 200px;
  font-family: var(--dynamic-font);
}
.mail-sender .mail-box{
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mail-box .mail-info-box{
  display: flex;
  flex-direction: column;
  width: 48%;
  min-height: 100px;
  margin: 20px 0;

}
.mail-box .mail-info-box input{
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border-radius: 25px;
  background: var(--bg-color);
  outline:none;
  border:none;
  box-shadow: var(--outer-shadow);
  padding: 20px;
  font-family: var(--dynamic-font);
  color: var(--black-color);
}
.mail-box .mail-description-box{
  width: 48%;
  height: 100%;

}
.mail-box .mail-description-box textarea {
  width: 100%;
  height: 180px;
  outline: none;
  border: none;
  box-shadow: var(--outer-shadow);
  background: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
  font-family: var(--dynamic-font);
  color: var(--black-color);
  resize: none;
}
.mail-sender .submit{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items:center; 
}
.mail-sender .submit button{
  min-width: 143px;
  padding: 10px;
  border-radius: 30px;
  font-family: var(--dynamic-font);
  color: var(--style-font-color2);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content:space-around;
  z-index: 99;
}
.mail-sender .submit button svg{
  fill: var(--style-font-color2)
}
::placeholder{
  color: var(--semi-white-color);
  font-family: var(--dynamic-font);
}
.testimonial{
  width: 100%;
  min-height: 100vh;
  display: none;
}
.container-testimonial{
  width: 100%;
  min-height: 100vh;
}
.testimonial-cover{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-color);
}
.testimonial-box{
  max-width: 400px;
  height: 200px;
  overflow-y: hidden;
  /*margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%,-50%);*/
  box-shadow: var(--outer-shadow);
  border-radius: 3px;
}
.testimonial-box section{
  width: 100%;
  height: 200px;
/*  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;*/
  transition: margin-top 0.6s ease;
  position: relative;
  padding: 15px;
  

}
.testimonial-comment{
  text-align: center;
  width: 100%;
  height: 50px;
  font-family: var(--dynamic-font);
  color: var(--style-font-color1);
  padding: 0 20px;
  
}
.testimonial-comment::before{
  content: "\201C";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: -2px;
  font-size: 70px;
  font-weight: 500;
  color: #E5E5E5;
  
}
.testimonial-img{
  width: 100%;
  height: 100px;
  display: grid;
  place-content: center;
}
.testimonial-img img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: var(--outer-shadow);
  padding: 5px;
}
.testimonial-user-name{
  text-align: center;
  font-family:var(--dynamic-font);
  font-weight: 700;
  color: var(--style-font-color1);
}
.testimonial-user-name::after{
  content: "\201D";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  bottom: 20px;
  font-size: 70px;
  font-weight: 500;
  color:#E5E5E5;
}
.testimonial-button{
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.testimonial-button button{
  margin: 0 10px;
  border-radius: 50%;
  padding: 10px 17px;
  background: var(--bg-color);
  box-shadow: var(--outer-shadow);
  outline: none;
  z-index:90;
}
.testimonial-button button:hover{
  box-shadow: var(--inner-shadow)
}
.setting-page-cover{
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  margin-left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 100;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;  

}
.setting-page{
  width: 60%;
  min-height: 60vh;
  background: var(--bg-color);
  box-shadow: var(--outer-shadow);
  overflow: auto;
  border-radius: 5px;
}
.setting-page-header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--dynamic-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--style-font-color1);
}
.setting-closer{
  border-radius: 50%;
  display: none;
}
.font-section{
  width: 100%;
  min-height: 500px;
  color: var(--style-font-color2);
}
.fonts{
  width: 100%;
  height: 120px;
  overflow-X:auto;
  white-space: nowrap;
  padding:10px 0 0 0 ;
}
.fonts section{
  min-width: 80px;
  height: 80px;
  display: inline-block;
  box-shadow: var(--outer-shadow);
  margin: 10px 5px;
  border-radius: 3px;
  text-align: center;
  padding-top: 30px;
 /* font-family: var(--dynamic-font);*/
  color: var(--style-font-color1);
  transition:all 0.4s;
  background: var(--bg-color);
  font-weight: 700;
}
.fonts section:hover{
  transform: translateY(-5px);
  color: var(--style-font-color2);
}
.fonts .default-font{
  font-family: 'Raleway',sans-serif;
}
.fonts .ubuntu-font{
  font-family: 'Ubuntu',sans-serif;
}
.fonts .roboto-font{
  font-family: 'Roboto flex',sans-serif;
}
.fonts .poppins-font{
  font-family: 'Poppins',sans-serif;
}





.font-title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--dynamic-font);
  font-weight: 500;
}
.font-title span{
  margin: 0 10px;
}
.font-title svg{
  fill: var(--style-font-color2);
}
.openSettingPage{
  display: flex;
}





































































::selection{
  background: var(--style-font-color2);
  color: #FFFFFF;
}

/*====== MORE CSS ======*/
svg{
  fill:var(--black-color);
  cursor:pointer;
}
.pad-10-35{
  padding: 20px 35px
}
.icon{
  outline: none;
  border: none;
  /* background: transparent; */
}
.btn-style{
  box-shadow: var(--outer-shadow);
  cursor: pointer;
}
.btn-style:hover{
  box-shadow: var(--inner-shadow);
}
.point-none{
  pointer-events: none;
}
.bg-load{
  background: #C3D2FF;
}
.abstract-circle{
  width: 150px;
  height: 50px;
  top: 5px;
  left: 85%;
  transform: translate(-300px, -5px);
  animation:left-right 5s linear infinite alternate;
  position: absolute;
}
.abstract-arrow{
  position: absolute;
  margin-top: -150px;
  margin-left: 55%;
  z-index: -1
}
.abstract-square{
  width: 40px;
  height: 40px;
  position: absolute;
  border: 5px solid #7C4DFF;
  margin-top: 30%;
  margin-left: 87%;
  z-index: -1;
}
.abstract-dots{
  width: 70px;
  height: 120px;
  top: 65%;
  left: 60%;
  z-index: 1;
  animation:up-down 5s linear infinite alternate;
  transform: translate(-50%, -50%)
} 

@keyframes left-right{
  from{
    left:80%;
  }
  to{
    left:60%;
  }
}
@keyframes up-down{
  from{
    top: 58%;
  }
  to{
    top: 55%;
  }
}
.anim-rotate{
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100%{
    transform: rotate(1turn);
  }
}
.hide{
  display: none;
}
/*  Copyright © 2022 Afaeid Sarker. All rights reserved by Afaeid Sarker  */
.prtfixed{
  position: fixed;
  z-index: 99;
  top:0;
  left: 0;
  /* border-bottom: 1px solid var(--semi-black-color);*/
  box-shadow: var(--outer-shadow);
  margin: 0;
  border-radius: 5px
  /* padding: 15px 20px 0 20px; */
}
.pntfixed{
  position: fixed;
  z-index: 99;
  top:0;
  left: 0;
  /* border-bottom: 1px solid var(--semi-black-color);*/
  box-shadow: var(--outer-shadow);
  margin: 0;
  border-radius: 5px
  /* padding: 15px 20px 0 20px; */
}
/*  Copyright © 2022 Afaeid Sarker. All rights reserved by Afaeid Sarker  */
