@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smoth;
}
a{
  text-decoration: none;
}
.main-container{
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  position: relative;
  /* padding: 10px 20px; */
}
header{
  width: 100%;
  min-height: 100px;
}
header nav{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
}
header nav .logo a{
  font-size: 25px;
  padding: 10px 12px;
  border-radius: 50%;
  border: 2px solid #F48FB1;
  font-family:'Raleway',sans-serif;
  color: var(--style-font-color2);
  text-decoration: none;
  font-weight:700;
}
.menu-icon button{
  padding: 9px 10px;
  border-radius: 50%;
  background: transparent;
 /* box-shadow: 1px 1.5px 1px 0px #D1D1D1,
              -1px -2px 1px 0px #fff;*/
}
.nav-links{
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  /* background: green; */
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 101; 
  /* padding: 0 40   px; */
}
.nav-links button{
  position: absolute;
  top: 0px;
  right:35px;
  padding: 5px 7px;
  border-radius:50%;
  background: var(--bg-color);
}
.nav-links li{
  list-style: none;
  margin: 35px 0;
  text-align: center;
  font-size: 18px;
}
.nav-links li a{
  color: var(--style-font-color1);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  padding: 8px 22px;
  border-radius: 20px;
}
.nav-links li a:hover{
  color:var(--style-font-color2);
}
.container-home{
  width: 100%;
  min-height: 90vh;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:10;
  position: relative;
}
.home{
  width: 100%;
  min-height: 100vh;
}
.row2{
  order:1;
  position: relative;
}
.row1 div,button{
  margin: 10px 0;
  z-index: 100;
  color: var(--black-color);
}
.row1 .hello{
  font-weight: 250;
  font-family: 'Roboto Flex', sans-serif;
}
.row1 .name{
  font-family: 'Ubuntu',sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
.row1 .proffession{
  font-family: 'Roboto Flex',sans-serif;
  font-weight: bold;
}
.row1 .more-btn button{
  padding: 10px 15px;
  border-radius: 20px;
  color: var(--style-font-color2);
  background: var(--bg-color);
}
.row2 img{
  width: 350px;
  height:350px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow:  /*inset 1px 1.5px 1px 0px #D1D1D1,
                   inset -1px -2px 1px 1px #fff;*/
                   var(--inner-shadow);
  padding: 5px;
  z-index: -1;
}
.row2 .img-cover{
  width: 380px;
  height: 380px;
  position: relative;
  border-radius: 50%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  box-shadow: var(--outer-shadow);
}
.theme-settings{
  min-width: 10px;
  height: 150px;
  position: fixed;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 110;
  right:0;
  top: 25%;
  transform: translate(-50%,-50%);
}
.theme-settings .settings{
  display: flex;
  flex-direction: column;
}

.theme-icon{
  border-radius: 50%;
  background: var(--bg-color);
  padding:8px 10px;
}
 .row2 .img-loader{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: var(--loading-color);
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
} 
.row2 .img-loader
.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #283AFF;
  border-bottom-color:var(--loading-color);
  left: 40%;
  top: 40%;
  position: absolute;
  /* transform: translate(-50%,-50%); */
  animation: spin 1s linear infinite;
}
.theme-icon .sun-icon{
  display: none;
}
.about{
  width: 100%;
  min-height: 500px;
}
.conatiner-about{
  width: 100%;
  min-height:200px;
}
.about .main-title,.semi-title
{
 text-align: center; 
}
.about .conatiner-about .main-title{
  line-height: 20px;
  color: var(--style-font-color2);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.about .conatiner-about .semi-title{
  line-height: 45px;
  font-size: 30px;
  color: var(--style-font-color1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.about .conatiner-about .main-bio{
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.main-bio .col-1{
  width: 35%;
  /*background: red;*/
  position: relative;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  /* justify-content: center;*/
   flex-direction: column;
}
.profile-img2{
  width: 260px;
  height: 265px;
 box-shadow: var(--inner-shadow);
  padding: 1px;
  border-radius: 2px;
  padding: 8px;
}
.main-bio .col-1 .img-cover{
  width: 280px;
  height: 285px;
  box-shadow: var(--outer-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--bg-color);

  
}
.main-bio .col-1 .social-links{
  width: 100%;
  height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-bio .col-1 button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background: var(--bg-color);
}
.main-bio .col-1 button svg{
  width: 18px;
  height: 18px;
  fill:var(--style-font-color1)
}
.main-bio .col-2{
  width: 60%;
  color: var(--semi-white-color);
  font-family: 'Raleway',sans-serif;
  font-weight: 18;
  font-size: 15px;
}
.main-bio .col-2 span{
  color: var(--style-font-color2);
  font-weight: 600;
  font-size: 15px;
}
.main-bio .col-2 span,p{
  margin: 10px 0;
}
.col-2 .bio-button button{
  margin: 10px 10px 10px 0 ;
  padding: 10px 15px;
  background: var(--bg-color);
  outline: none;
  border:none;
  border-radius: 20px;
  font-family: 'Raleway',sans-serif;
  color: var(--style-font-color2);
  font-size: 15px;
  font-weight: 500;;
}
.progressbar-and-timeline{
  width: 100%;
  min-height: 500px;
  background: var(--bg-color);
  font-family: 'Raleway',sans-serif;
}
.progressbar-and-timeline .item-titles{
  width: 100%;
  height: 100px;
  text-align: center;
  overflow-y: auto;
  white-space: nowrap;
  padding: 10px;
}
.progressbar-and-timeline .item-titles a{
  margin: 0 2px;
  color: var(--style-font-color1);
  padding: 8px 10px;
  border-radius: 20px;
  font-weight: 500;
}
.progressbar-and-timeline .item-titles a:nth-child(1){
  box-shadow: var(--outer-shadow);
  color: var(--style-font-color2);
}
.progressbar-and-timeline .changeable-section{
  width: 100%;
  min-height: 500px;
  background: var(--bg-color);
}
.progressbar-and-timeline .changeable-section .progressbars{
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box{
  width: calc(50% - 40px);
  height: 100px;
  position: relative;
  padding: 0 10px;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-name{
  color: var(--style-font-color1);
  font-weight: 400;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-indicator-numeric{
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  color: var(--style-font-color1);
  font-weight: 400;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-indicator {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  box-shadow: var(--inner-shadow);
  margin: 20px 0;
  padding: 0 8px;
}
.progressbar-and-timeline .changeable-section .progressbars .progress-box .progress-indicator span{
  width: 100%;
  border-radius: 5px;
  height: 10px;
  background: var(--style-font-color1);
  display: inline-block
}












.timeline-cover{
  max-width: 1080px;
  margin: 0px 0px; 
  padding: 20px 40px;
  position: relative;
 background: var(--bg-color);
}

.timeline-cover .timeline-line{
  width: 1px;
  height: calc(100% - 20px);
  background: #CBCBCB;
  left: 50%;
  background: #BABABA;
  transform: translateX(-50%);
  position: absolute;
}
.timeline-row{
  display: flex;
  position: relative;
}
.timeline-row1{
  justify-content: flex-start;
}
.timeline-row2{
  justify-content: flex-end;
}
.timeline-row section{
  background:var(--bg-color);
  width:calc(50% - 40px);
  min-height: 220px;
  border-radius: 5px;
  box-shadow: var(--outer-shadow);
  padding: 30px;
  position: relative;
  z-index: 10;
}/*
.row1 section::before{
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  background: var(--bg-color);
  border: 1px solid #BABABA;
  right: 0;
  transform: rotate(45deg);
  z-index:-1;
}*/
.timelime-icon{
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  padding: 10px 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--bg-color);/*
  box-shadow: var(--outer-shadow)*/
  border: 1px solid #BABABA;
}
.timeline-cover .timeline-row .timeline-time{
  color: var(--style-font-color2);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.timeline-cover .timeline-row1 .timeline-time{
  text-align: right
}
.timeline-cover .timeline-row1 .timeline-title{
  text-align: right
}
.timeline-cover .timeline-row1 .timeline-place{
  text-align: right
}
.timeline-cover .timeline-row1 .timeline-description{
  text-align: right
}
.timeline-cover .timeline-row2 .timeline-time, .timeline-title,
.timeline-place, .timeline-description{
  text-align: left
}
.timeline-cover .timeline-row 
.timeline-title{
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway',sans-serif;
  color: var(--style-font-color1);
}
.timeline-cover .timeline-row
.timeline-place{
  font-family: 'Raleway',sans-serif;
  font-style: italic;
  color: #9E9E9E;
  font-size: 15px;
}
.timeline-cover .timeline-row .timeline-description{
  margin-top: 20px;
  font-size: 15px;
  color: #9E9E9E;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
}
.timeline-cover svg{
  fill:var(--style-font-color2);
  width: 18px;
  height: 18px;
}






























/*====== MORE CSS ======*/
svg{
  fill:var(--black-color)
}
.pad-10-35{
  padding: 0px 35px
}
.icon{
  outline: none;
  border: none;
  /* background: transparent; */
}
.btn-style{
  box-shadow: var(--outer-shadow);
}
.btn-style:hover{
  box-shadow: var(--inner-shadow);
}
.abstract-default{
  position: absolute;
}
.abstract-circle{
  width: 150px;
  height: 50px;
  top: 5px;
  left: 85%;
  transform: translate(-300px, -5px);
  animation:left-right 5s linear infinite alternate; 
}
.abstract-dots{
  width: 70px;
  height: 120px;
  top: 65%;
  left: 60%;
  z-index: 1;
  animation:up-down 5s linear infinite alternate;
  transform: translate(-50%, -50%)
}
.abstract-arrow{
  width: 50px;
  height: 50px;
  transform: translate(-50%,-50%);
  top: 42%;
  left: 60%;
  z-index: 1;
}
@keyframes left-right{
  from{
    left:80%;
  }
  to{
    left:60%;
  }
}
@keyframes up-down{
  from{
    top: 58%;
  }
  to{
    top: 55%;
  }
}
.anim-rotate{
  animation: spin 5s linear infinite;
}
@keyframes spin {
  100%{
    transform: rotate(1turn);
  }
}
.hide{
  display: none;
}
