@media screen and (min-width:481px) and (max-width:990px){
  
  .row2 img{
    width: 280px;
    height: 280px;
  }
  .row2 .img-cover{
    width: 300px;
    height: 300px;
  }
  .row2 .img-loader{
    width: 280px;
    height: 280px;
  }
  .row2 .img-loader .loader{
    width: 40px;
    height: 40px;
  }
  .main-bio {
   flex-direction: column;
 }
 .main-bio .col-1{
   width: 100%;

 }
 .main-bio .col-2{
   width: 100%;
   margin: 20px;
   margin-left: 0;
 }
  
}


